//Percent
@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}
//REM
@function rem($px) {
  $result: math.div($px, $global_fs) + rem;
  @return $result;
}
//EM
@function em($px, $current: $global_fs) {
  $result: math.div($px, $current) + em;
  @return $result;
}
